{% extends "base.html" %}
{% block title %}Agora - Profile{% endblock %}
{% block head %}Edit your Profilen{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
        <p>Welcome, new user. Please log in.</p>
    {% endif %}

    <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Finish Profile" />
    </form>
    <a href="/">Home</a>
{% endblock %}