<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% load staticfiles %}
    <title>Page Unavailabe - 500 error</title>
    <link rel="shortcut icon" href="{% static "favicon.png" %}">

    <link href="{% static "cs/main.css" %}" type="text/css" rel="stylesheet">

</head>
<body>
    <div id="actionBar">
        <img id="actionbar_icon" src="{% static "images/main_icon_mediam_cream.png" %} " alt="">

    </div>
    <div id="notfound">
        <h1>Page unavailable</h1>

        <p>Sorry, but the requested page is unavailable due to a server hiccup.</p>

        <p>Our engineers have been notified, so check back later.</p>

    </div>

</body>
</html>