{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Agora - Create new Project{% endblock %}
{% block cs %}
    <link href="{% static "cs/createrepoNote.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div id="namebox">
    <form method="post" action=".">{% csrf_token %}

            {{ form.subject.errors }}
            <label id="reponame" for="id_reponame">Project Name</label>
            {{  form.reponame }}

        <input id="btnCreate" type="submit" value="Create" />
    </form>
    </div>
{% endblock %}