{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Agora - Profile{% endblock %}
{% block cs %}
    <link href="{% static "cs/register.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block pagename %}
    <h2 id="projectTitle">Edit your Profile</h2>
{% endblock %}{% block content %}


    <div id="extra">
        <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
            <tbody>
                <tr>
                    <th>
                        <label id="id_firstname" for="id_firstname">First Name:</label>
                    </th>
                    <td>
                        <input id="id_firstname" type="text" name="firstname">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label id="id_surname"  for="id_surname">Last Name:</label>
                    </th>
                    <td>
                        <input id="id_surname" type="text" name="surname">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label id="id_aboutme" for="id_aboutme">About You:</label>
                    </th>
                    <td>
                        <textarea id="id_aboutme" rows="10" name="aboutme" cols="40"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label id="id_photo" for="id_photo">Select a photo:</label>
                    </th>
                    <td>
                        <input id="id_photo" type="file" name="photo">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label id="id_role" for="id_role">Role:</label>
                    </th>
                    <td>
                        <input id="id_role" type="text" name="role">
                    </td>
                </tr>
            </tbody>
            <input id="finish" type="submit" value="Finish Profile" />
        </form>
    </div>
{% endblock %}