{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    {{ repo }}
{% endblock %}
{% block cs %}
    <link href="{% static "cs/notes.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block js %}
    <script type="application/javascript" src="{% static "js/freewall.js" %}"></script>
    <script type="application/javascript">
        var notelist = JSON.parse('{{ file|escapejs }}');
    </script>
    <script type="application/javascript" src="{% static "js/notes.js" %}"></script>

{% endblock %}
{% block creater %}{% url 'Agora.views.new_note' user.username repo %}{% endblock %}
{% block pagename %}
    <h2 id="projectTitle">{{ reponame }}</h2>
{% endblock %}
{% block content %}
    <div id="contentSection">
    {% if usera %}
        <li><a href="createnote/">Create Note</a></li>
     {% else %}
        <li><a href="/login">Log In</a></li>
     {% endif %}
    </div>

    <div id="contentBG">
    <div id="firewall">

    </div>
    </div>
{% endblock %}